.container-create {
    background-color: rgb(139, 139, 139);
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 20.2%;
    display: flex;
    align-items: center;
}

.container {
    margin-left: 1%;
    display: block;
    width: 100%;
    height: 100%;
}
.separador, .separador-v2{
    margin-top: 3%;

}

.separador-v2 {
    border: 1px solid;
    border-top: 0px;
    border-right: 0px;
}

.separador{
    border: 1px solid;
    border-top: 0px;
    border-right: 0px;
}

.estilo-text, .estilo-selected, .estilo-file{
    margin-bottom: 3%;
}

/*--------------------------------------*/

.estilo-text{
    background-color: rgb(8, 30, 53);
    color: rgb(185, 185, 185);
    font-size: 20px;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid;
}

/*--------------------------------------*/

.estilo-selected {
    background-color: rgb(8, 30, 53);
    color: rgb(185, 185, 185);
    font-size: 20px;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid;
}

/*--------------------------------------*/

.estilo-file {
    background-color: rgb(8, 30, 53);
    color: rgb(185, 185, 185);
    font-size: 20px;
    width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*--------------------------------------*/

.label-create {
    color: rgb(4, 15, 27);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid;
    margin-left: 2%;
}

.titulo-crear {
    margin-top: 2%;
}

.titulo-crear .label-create {
    font-size: 30px;
    font-weight: bold;
}

/*--------------------------------------*/

.btn-confirmar {
    background-color: rgb(8, 30, 53);
    color: rgb(185, 185, 185);
    margin-top: 2%;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid;
    margin-left: 2%;
    border-radius: 20px;
}

.btn-confirmar:hover{
    border: 2px solid brown;
}